p{
  font-size: 18px;
  line-height: 1.5;
  font-weight:300;
}
li {
  font-size: 18px;
  line-height: 1.5;
  font-weight:300;
  color: black;
  padding-bottom: 3%;
}
/* TOP NAVBAR */
.logo{
  color: white;
}
.navbar .logo:hover{
  color: white;
  text-decoration: none;
}
.contact{
  color: black;
  font-weight: 600;
}
.navbar .contact:hover{
  color: black;
  text-decoration: none;
}
.top-bar{
  padding: 2% 15%;
}
.top-bar h1{
  color: white;
  font-size: 50px;
}
.square-background {
  background-color:#202335;
  width:40%;
  height: 600px;
  position: absolute;
  z-index: -1;
}

/* Header */
.header-div{
  padding: 1% 16% 18% 16%;
}
.header-div img{
  width:43%;
  float: left;
  margin-right: 2%;
}
.header-div h1{
  font-size: 5.5em;
  margin:7% 0 0 20px;
  color: white;
  width: 90%;
  font-weight: 700;
}
.circle-background {
  background-color:#ff0081;
  width:45%;
  height: 720px;
  z-index: -1;
  border-radius: 100%;
  position: absolute;
  top: 8%;
  right: 15%;
}
.header-discover-h3{
  color: #8346ff;
  font-size: 2em;
  padding-left: 15%;
  width: 46%;
  line-height: 1;
}
.header-provide-p{
  font-size: 20px;
  padding: 4% 0 0 49%;
  width: 81%;
  margin-bottom: 8%;
}
.provide-main{
  animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.provide-merge-div{

}
.provide-merge-h5{
  color:#ff0081;
  background-color: white;
  padding:4% 5% 4% 7%;
width:28%;
font-size: 33px;
position: absolute;
  top: 1400px;
  right: 470px;
}


/* Our Misson Div */
.our-mission{
  color: white;
  padding:50px 300px 50px 15%;
    background-color:#8346ff;
    margin-right: 650px;

}

.our-mission h2{
  font-size: 5em;
  margin-bottom:2%;
}
.mission-btn{
  color:#8346ff;
  border: none;
  padding:13px 60px;
  font-weight: 600;
  font-size: 19px;
  background-color: white;
  Margin-top:4%;
}

/* middle Container */

.middle-contaier{
  padding: 7% 15%;
}
.service-h2{
  font-size:5em;
  color: #35d759;
  width: 50%;
  line-height: 1;
  padding-bottom: 2%;
}
/* Discover div */
.discover-circle{
  background-color: #ff0081!important;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-sizing: border-box;
  content: "";
  border-radius: 100%;
      width: 573px;
      height: 573px;
      max-width: 700px;
      max-height: 700px;
      position: absolute;
      right: -372px;
      top: 1950px;
}
.discover-list-main ul {list-style: none}
.discover-list-main ul li::before {
  content: "\2022";
  color: #ff0081;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 30px;
}
.discover-p{
  font-size: 20px;
  width: 45%;
  float: left;
  margin-right: 140px;
}
.discover-h2{
  font-size: 7em;
  margin-top: 230px;
}
.discover-list-main{
  width:100%;
  padding-top: 15%;
}
.discover-list-main .discover-list1, .discover-list2, .discover-list3{
display: inline-block;
width: 350px;
padding:2% 7%;
}
.discover-list1{
  float:right;
}
.discover-list2{
  padding-left: 120px;
}
.discover-list-main li{
  width: 350px;
}
.discover-list-main h6{
 font-size: 19px;
}
/* Develop div */
.develope-circle{
  background-color: #00dbff!important;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-sizing: border-box;
  content: "";
  border-radius: 100%;
      width: 573px;
      height: 573px;
      max-width: 700px;
      max-height: 700px;
      position: absolute;
      left: -372px;
      top: 2780px;
}
.develope-list-main ul {list-style-type: none;}
.develope-list-main ul li::before {
  content: "\2022";
  color: #00dbff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
    font-size: 30px;
}
.develope-p{
  font-size: 20px;
  width: 47%;
  float: right;
  margin-top: 20px;
}
.develope-h2{
  font-size: 7em;
  margin-top: 230px;
  padding-left: 80px;
}

.develope-list-main{
  width:100%;
  padding-top: 15%;
}
.develope-list-main h6{
 font-size: 19px;
}
.develope-list-main .develope-list1, .develope-list2, .develope-list3{
display: inline-block;
width: 350px;
padding:2% 7%;
}
.develope-list2{
  padding-left: 120px;
}
.develope-list-main li{
  width: 350px;
}

/* Deliver div */
.deliver-circle{
  background-color: #36d759!important;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-sizing: border-box;
  content: "";
  border-radius: 100%;
      width: 573px;
      height: 573px;
      max-width: 700px;
      max-height: 700px;
      position: absolute;
      right: -372px;
      top: 3570px;
}
.deliver-list-main ul {list-style: none}
.deliver-list-main ul li::before {
  content: "\2022";
  color: #36d759;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
    font-size: 30px;
}
.deliver-p{
  font-size: 20px;
  width: 44%;
  float: left;
  margin-right: 140px;
}
.deliver-h2{
  font-size: 7em;
  margin-top: 230px;
}
.deliver-list-main{
  width:100%;
  padding-top: 15%;
}
.deliver-list-main .deliver-list1, .deliver-list2, .deliver-list3{
display: inline-block;
width: 350px;
padding:2% 7%;
}
.deliver-list2{
  padding-left: 60px;
}
.deliver-list-main li{
  width: 350px;
}
.deliver-list-main h6{
 font-size: 19px;
}
.middle-contact-btn{
  background-color:#8346ff;
  border: none;
  padding:14px 60px;
  font-weight: 600;
  font-size: 19px;
  color: white;
  margin:6% 0 0 40%;
}
/* happy customer div */
.happy-customer {
  padding:7% 17%;
}
.happy-customer h1{
  color: #00dbff;
  font-size: 5em;
  width: 56%;
  margin-bottom:80px;
}
.image-galler-1 img{
width: 210px;
padding: 1% 5%;
float: right;
}

.image-galler-2 img{
  width: 280px;
  padding: 0 5%;
  position: absolute;
}

/* Making image hover */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .1s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.happy-customer-h2{
  color:#8346ff;
  font-size: 5em;
  margin-top: 500px;
}
/* sweat shaper div */
.text-div{
  position: absolute;
  top: 5770px;
}

.sweat-shaper{
  background-color:#202335;
  color:white;
  padding-bottom: 200px;
}
.sweat-shaper-images{
  position: absolute;
  right: 0;
  top:0;
}
.sweat-shaper-images img{
  height: 230px;
  padding:1% 0 0 1%;
}
.sweat-shaper h6{
font-size: 20px;
}
.sweat-shaper h5{
font-size: 32px;
}
.sweat-shaper a{
  color:white;
}
.sweat-shaper p, li{
  font-size: 20px;
}
.sweat-shaper ul{
  color:white;
  padding-bottom: 1%;
}
.sweat-shaper li{
  color:white;
}
.text-div{
  padding:4% 0 0 35%;
}
.sweat-shaper-p{
  width:70%;
}
.sweat-ul-main li{
  padding-bottom: 0px;
}
.sweat-ul-main ul {list-style: none}
.sweat-ul-main ul li::before {
  content: "\2022";
  color: #00dbff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
    font-size: 30px;
}
/* Meet the team */
.team-container{
padding:7% 15%;
}
.team h2{
  color: #ff0081;
  font-size: 4.5em;
}
.team p{
width: 40%;
}
.profile-size img{
  width: 280px;
}


/* bottom banner div */

.bottom-banner{
  background-color: #202335;
  color: white;
  padding:5% 40%;
  margin-top:11%;
}
.bottom-banner h2{
font-size: 5em;
width:500px;
line-height: 1;
}
.bottom-banner p{
font-size: 20px;
margin-top:5%;
}
.bottom-button{
  color:#ff0081;
  border: none;
  padding:14px 60px;
  font-weight: 600;
  font-size: 19px;
  background-color: white;
  margin-top: 10%;
}
.bottom-div{
  padding:7% 15%;
}
.bottom-div h2{
  color:#8346ff;
  font-size: 5em;
}
.bottom-div p{
  width: 34%;
  margin-top:4%;
}
/* Careers bottom div */

.bottom-career-button{
  background-color:#8346ff;
  border: none;
  padding:14px 60px;
  font-weight: 600;
  font-size: 19px;
  color: white;
  position: absolute;
  top: 9170px;
  right: 600px;
}
.bottom-banner-circle2{
  background-color: #00dbff;
width: 300px;
height: 300px;
border-top-right-radius:0;
border-top-left-radius:100%;
border-bottom-right-radius:0;
border-bottom-left-radius:0;
position: absolute;
right: 0;
top: 8504px;
}
.bottom-banner-circle1{
  background-color: #ff0081;
width: 300px;
height: 300px;
border-top-right-radius:0;
border-top-left-radius:0;
border-bottom-right-radius:100%;
border-bottom-left-radius:0;
position: absolute;
left: 0;
top: 8296px;
}
/* footer */
footer{
  background-color: #f9fafc;
}
.logo-footer{
  margin:6% 15%;
  width: 170px;

}
footer i {
  color: grey;
  padding:0 1%;
}

.profile-overlay{
  position: absolute;
  z-index: 2;
    font-size: 18px;
    padding: 7px 120px 5px 50px;
    background-color: #f9fafc;
    right: 0;
    top: 250px;
}
.profile-overlay h5{
  color:#ff0080;
  font-weight: 700;
}
